[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
rich-click = "*"
openai = "*"
charset-normalizer = "*"
tiktoken = "*"
llama-index = ">= 0.7.12"
gitpython = "*"
antlr4-python3-runtime = "*"

[dev-packages]
black = "*"
pytest = "*"
pylint = "*"
mypy = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"
pytest-cov = "*"
types-PyYAML = "*"

[requires]
python_version = "3.9"

[scripts]
menderbot = "python -m menderbot"
