[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
rich-click = "*"
openai = "*"
tree-sitter = "*"
charset-normalizer = "*"
tiktoken = "*"

[dev-packages]
black = "*"
pytest = "*"
pylint = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
